body {
    margin: 0;
}

/* header */

header {
    height: 4em;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

header nav {
    flex-grow: 1;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 0.5em;
}

/* footer */

footer {
    border-top: 1px solid black;
    padding: 1em 1.5em;
}

footer ul {
    display: inline;
}

footer li {
    display: inline;
    padding-left: 1em;
}

footer a {
    text-decoration: none;
    color: black;
}

/* banner */

#banner {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

#banner img {
    width: 60%;
    height: auto;
    margin: 2em 1.5em;
}