/* global */

body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

h1 {
    margin: 0;
}

/* utilities */

.smoke {
    background-color: whitesmoke;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .too-extra {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .extra {
        display: none;
    }
}

/* header */

header {
    height: 3.5em;
    border-bottom: 1px solid black;
    padding: 0 1.5em;
}

header nav {
    flex-grow: 1;
    text-align: right;
}

.nav-title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
}

.nav-title strong {
    font-weight: 500;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

.nav-link img {
    display: none;
    vertical-align: middle;
}

@media only screen and (max-width: 480px) {
    .nav-link img {
        display: inline-block;
    }

    .nav-link span {
        display: none;
    }
}

/* banner */

#banner {
    flex-wrap: nowrap;
    justify-content: stretch;
    padding: 1.5em 2em;
}

#banner img {
    width: 60%;
    height: auto;
}

#banner-content {
    flex-grow: 1;
    color: #555;
    padding: 1.5em;
}

#banner h1 {
    font-size: 3.5em;
}

#banner p {
    color: #666;
    font-size: 1.5em;
    font-weight: bold;
}

#banner button {
    font-size: 1.25em;
    color: white;
    background-color: #666;
    border: 0;
    padding: 0.5em;
    display: block;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #banner {
        flex-direction: column;
    }

    #banner img {
        width: 100%;
    }
}

/* info */
#info {
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 1.5em 2em;
}

.info-article {
    width: 60%;
    flex-shrink: 0;
    flex-grow: 1;
    overflow: hidden;
    margin-right: 1.5em;
}

.info-article img {
    max-width: 100%;
    height: auto;
    display: block;
}

.info-article h2 {
    font-size: 2.5em;
}

.side-list {
    margin-top: -1em;
    padding: 0 0.5em;
    border-left: 1px solid gray;
}

.list-item {
    display: flex;
    align-items: top;
    min-width: 360px;
    padding: 1em;
}

.list-item .img-container {
    width: 35%;
    overflow: hidden;
    flex-shrink: 0;
}

.list-item h3 {
    margin: 0.5em 0;
}

.list-item p {
    margin: 0.5em 0;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.list-item-content {
    padding: 0 1em;
}

.list-item-content h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.img-container .mobile-img {
    display: none;
}

@media only screen and (max-width: 480px) {
    .list-item {
        flex-direction: column;
    }

    .img-container img {
        display: none;
    }

    .img-container .mobile-img {
        display: block;
    }

    .list-item .img-container {
        width: 100%;
    }

    .list-item-content {
        padding: 1em 0 0 0;
    }
}

/* learning */

#learning {
    background-color: lightgray;
    padding: 2em 4.5em;
}

#learning h2 {
    text-align: center;
    margin-bottom: 1em;
}

.career-path {
    background-color: white;
    width: 360px;
    margin: 1em;
    overflow: hidden;
    padding-bottom: 16px;
}

.career-path img {
    max-width: 100%;
    height: auto;
    display: block;
}

.career-path h3 {
    margin: 1em 1em 0.5em 1em;
}

.career-path p {
    margin: 0.5em 1em;
}

/* thesis */

.flex-container-2 {
    display: flex;
}

#thesis h2 {
    text-align: center;
    margin: 2em;
}

#thesis-main {
    width: 60%;
    padding: 0 1.5em;
    margin-bottom: 2em;
}

#thesis-list {
    padding: 0 0.5em;
    max-width: 40%;
}

.thesis-item {
    display: flex;
    padding: 1em;
    overflow: hidden;
    align-items: center;
}

.thesis-item img {
    width: 35%;
    height: auto;
    margin: 0 1em;
}


/* footer */

footer {
    border-top: 1px solid black;
    padding: 1em 1.5em;
}

footer ul {
    display: inline;
}

footer li {
    display: inline;
    padding-left: 1em;
}

footer a {
    text-decoration: none;
    color: black;
}